<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a href="/clients/products">Product List</a>
    <a href="/users/logout">Logout</a> 
    
    <% if(cart.length !== 0) { %>
        <% let sum = 0 %>
        <% cart.forEach(c => { %>
            <h2><%= c.name %></h2>
            <img src=<%= c.img %> alt="product">
            <h3>Price: <%= c.price %></h3>
            <% sum += c.price %>
            <a href="/clients/products/cart/<%= c.id %>/delete">Remove Item</a>
        <% }) %>
        <h2>Total Amount: <%= sum %></h2>
    <% } else { %>
        <h2>The cart is Empty</h2>
    <% } %>
</body>
</html>